.scrollable-div {
  /* overflow-y: auto; */
}
.scroll-container {
  height: 80vh;
  overflow-y: scroll;
}
.progress-bar {
  position: fixed;
  top: 0;
  right: 10px;
  width: 5px;
  height: 100vh;
  background-color: black;
}
